@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p> @ViewData["Test"]</p>

<div>
    <input id="bt_ok" type="button" value="button" />
    <input id="Submit1" type="submit" value="submit" />
</div>